.postList {
    display: flex;
    flex-direction: column;
}

.postListItem {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.postLink {
    color: var(--text-color);
}

.postLink:hover {
    text-decoration: underline;
}
