nav {
    display: flex;
    outline: 2px solid var(--nav-border);
    margin: 1rem;
    background-color: var(--nav-bg);
    border-radius: 0.25rem;
    backdrop-filter: blur(10px);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem;
}

.active {
    background-color: var(--bright-gold);

    a {
        color: var(--baltic-blue);
    }
}

.mobileMenu {
    display: none;
    background-color: transparent;
    border: none;
}

.menuBar {
    display: block;
    width: 1.5rem;
    height: 2px;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
    margin: 4px;
    z-index: 99;
}

#menuButton {
    z-index: 999;
}
#menuButton.is-open .menuBar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    border: none;
}

#menuButton.is-open .menuBar:nth-child(2) {
    opacity: 0;
}

#menuButton.is-open .menuBar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
    border: none;
}
