---
import Layout from './layouts/layout.astro'
import '../styles/aboutStyle.css'
---

<Layout>
    <h1>About me</h1>
    <main>
        <p>
            I started life as a musician. Well, I started life as a baby, but
            that's not relevant. I spent my university degrees studying viola
            performance. I then taught violin and music to children for the
            better part of a decade after moving to London.
        </p>
        <p>
            I've had a slightly different journey to software engineering than
            most people, but at this point there are so many career switchers
            its hard to swing a dead cat without hitting one.
        </p>
        <p>
            The first code-related things I remember doing are typing out BASIC
            commands in our school-supplied TI-80 graphic calculators. It was a
            fun distraction during math class to have a little programme
            running... GOTO 10, IF/THEN... and all that.
        </p>
        <p>
            Then in middle school, my friend told me about HTML and that we ould
            write some funny-looking code and have it appear on a screen. You
            could tell the text to be different colours. You could make it big,
            small. You could make a link to another page.
        </p>
        <p>
            I spent several lunch times with him jotting down some basic rules:
            you need an html tag around everything. You need to make sure you
            close the tag. You can write paragraph text with a p.
        </p>
        <p>
            Time went by and I'd mess around with computer-related things
            (databases, setting up sites for random reasons) and then I decided
            I wanted to give this a try full time. I started a self-teaching
            journey that continues to this day.
        </p>
        <p>
            Currently I work for Global Media and Entertainment, the UK's
            largest commercial radio and advertising group. I get to work with
            really smart people and try to make it easier for people to stream
            our radio stations and listen to podcasts. I get to work with
            super-talented people every day and that's probably one of the best
            parts of the job.
        </p>
        <p>
            I decided to have a space for my thoughts that a little bit more
            separate from the noise of social media. And, I guess I should have
            some sort of portfolio, or presence, or something. So here it is.
        </p>
    </main>
</Layout>
