---
import Layout from './layouts/layout.astro'
import '../styles/contactStyle.css'
---

<Layout>
    <h1>Contact page</h1>
    <p>
        You can get a hold of me via <a
            class="inlineLink"
            href="mailto:mikssilis@gmail.com">email</a
        > or on <a
            class="inlineLink"
            href="http://www.linkedin.com/in/miks-silis">LinkedIn</a
        >
    </p>
</Layout>
