---
import "../styles/navbarStyle.css"
---


<html>
    <nav>
        <ul class="nav_list">
            <li>About</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
        
    </nav>
</html>