---
import "../styles/navbarStyle.css"
---


<html>
    <nav>
        <ul class="nav_list">
            <li>About</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
        <button id="menuButton" class="mobileMenu" aria-label="Toggle menu">
    <span class="menuBar"></span>
    <span class="menuBar"></span>
    <span class="menuBar"></span>
  </button>
    </nav>
</html>